.cell-long-text {
  white-space: normal;
}

.newViewIcon{
	background-image: url("../images/explorateur/layout_add.png")!important;
}

.editViewIcon{
	background-image: url("../images/explorateur/layout_edit.png")!important;
}

.refreshIcon{
	background-image: url("../images/explorateur/table_refresh.png")!important;
}

.clearIcon{
	background-image: url("../images/explorateur/bin.png")!important;
}


.explorer-delete-row-icon {
	background-image: url("../images/explorateur/delete.png")!important;
}

.explorer-add-row-icon {
	background-image: url("../images/explorateur/add.png")!important;
}

.explorer-delete-view-icon {
	background-image: url("../images/explorateur/layout_delete.png")!important;
}

.explorer-add-relation-icon {
	background-image: url("../images/explorateur/connect.png")!important;
}

.cercle-check{
	width : 16px;
	height:16px;
	background-image: url("../images/explorateur/cercle_check.png")!important;
	background-repeat: no-repeat;
}

.cercle-uncheck{
	width : 16px;
	height:16px;
	background-image: url("../images/explorateur/cercle_uncheck.png")!important;
	background-repeat: no-repeat;
}


.saveIcon{
	background-image: url("../images/explorateur/disk.png")!important;
}


.autoSaveIcon{
	background-image: url("../images/explorateur/diskCog.png")!important;
}

.addAttributeIcon{
	background-image: url("../images/explorateur/column_add.png")!important;
}

.addFolderIcon{
	background-image: url("../images/explorateur/folder_add.png")!important;
}

.editFolderIcon{
	background-image: url("../images/explorateur/folder_edit.png")!important;
}

.delete{
	background-image: url("../images/explorateur/delete.png")!important;
}

.classicDelete{
	background-image: url("../images/explorateur/delete.png")!important;
}

.filter-delete{
	background-image: url("../images/explorateur/delete.png")!important;
}

.filter-add{
	background-image: url("../images/explorateur/add.png")!important;
}

.radioGroupList{
	display : inline;
	float : left;
}

.radioGroupContainer{

}

.x-form-field-wrap .x-form-ok-trigger {
	background-image:url(../images/explorateur/ok-trigger.gif);
	cursor:pointer;
}

.printer {
	background-image:url(../images/printer.png);
}

.page-prev{
	background-image: url("../images/explorateur/page-prev.gif");
}

.page-next{
	background-image: url("../images/explorateur/page-next.gif");
}

.add-user{
	background-image: url("../images/explorateur/add_user.gif");
}


.validation-edit-icon{
	background-image: url("../images/explorateur/validation_edit.png")!important;
}

.note-edit-icon{
	background-image: url("../images/explorateur/note_edit.png")!important;
}

.note-delete-icon{
	background-image: url("../images/explorateur/note_delete.png")!important;
}

.add-approvalNoteType-icon{
	background-image: url("../images/explorateur/addApprovalType.png")!important;
}


.x-grid3-dirty-cell div.x-grid3-cell-inner{
	background-image:url(../gxt/images/default/grid/dirty.gif);
	background-repeat:no-repeat;
}

.x-grid3-row td.x-grid3-cell, .x-grid3-summary-row td.x-grid3-cell {
    background-image:url(../images/explorateur/border.png);
    background-repeat:repeat-y;
}

.x-grid3-header div.x-grid3-hd-inner{
	font-weight:bold;
}

.x-grid3-row {
	border-color: #FFFFFF #D0D0D0 #D0D0D0;
}

.pourcent-100{
    background-color : #55ff00;
}

.pourcent-90{
    background-color : #80ff00;
}

.pourcent-80{
    background-color : #aaff00;
}

.pourcent-70{
    background-color : #d4ff00;
}

.pourcent-60{
    background-color : #ffff00;
}

.pourcent-50{
    background-color : #ffd500;
}

.pourcent-40{
    background-color : #ffaa00;
}

.pourcent-30{
    background-color : #ff8000;
}

.pourcent-20{
    background-color : #ff5500;
}

.pourcent-10{
    background-color : #ff2a00;
}

.pourcent-0{
    background-color : #ff0000;
}