.NoTaskGroupWidget
  font-family: Verdana
  font-size: 12px

.split-button-menu
  background-image: none

.userRepere-selected
  background-color: #dbffd9
  filter: alpha(opacity=50)
  -moz-opacity: .50
  opacity: .50

.headerCell
  overflow: hidden

.task-west
  border-left: 1px solid black

.task-east
  border-right: 1px solid black

.weekDay
  background-color: #ddeaf8
  border: none
  border-left: 1px solid #a1adb9
  border-bottom: 1px solid #a1adb9

.weekEndDay
  background-color: #f0ecb2
  border: none
  border-left: 1px solid #a1adb9
  border-bottom: 1px solid #a1adb9

.ClickableCursor
  cursor: pointer

.NotPlannedTaskStyle
  background-color: #ff7b7b

.TaskPlannedNotInPlanningBounds
  background-color: #ffc781

.AlreadyAssignedTask
  color: #AAAAAA

a.customMenuItem span
  padding-left: 25px

.customMenu
  background-position: 25px

.timeline-border-color
  border: none

.timeline-border-right-color
  border-right: 1px solid #99BBE8

.timeline-table
  font-family: Verdana, Arial, Helvetica, sans-serif
  background-color: #ddeaf8
  border-collapse: collapse
  table-layout: fixed

.timeline-month-header
  background-color: #d3e0ef
  text-align: center
  padding-top: 5px
  font-size: 12px
  border-left: 1px solid #a1adb9

.timeline-month-header-label
  overflow: hidden
  height: 100%
  width: 100%

.timeline-week-header
  border-left: 1px solid #a1adb9
  font-size: 10px
  font-weight: bold
  padding: 3px 0 0 4px
  background-color: #d3e0ef

.timeline-day-header
  border-bottom: none
  border-top: none
  font-size: 8px
  text-align: center

.resize-edge
  line-height: 1px
  font-size: 1px

.resize-w
  cursor: w-resize

.resize-e
  cursor: e-resize

.taskPanelSelected
  border: 1px solid #FFFFFF

.task-Label
  color: #000000
  text-align: center
  overflow: hidden
  z-index: 1
  font-size: 12px
  padding-top: 2px

.userAbscencePanel
  background-image: url("../images/planning/hachureVacationIcon.gif")
  background-repeat: repeat

.planningEventPanel
  background-image: url("../images/planning/hachureEvent.gif")
  background-repeat: repeat

.userTreeItem .gwt-TreeItem
  cursor: pointer
  margin: 0
  padding: 0
  white-space: nowrap
  font-size: 12px

.userTreeItem-selected
  background-color: white

.UserTreeLeaf
  position: absolute
  z-index: 1
  width: 16px
  height: 16px
  right: 0px
  top: 2px

.UserTreeItemLabel
  position: absolute
  top: 2px
  z-index: 0

.gwt-Tree .gwt-TreeItem-selected table
  background-color: #FFFFFF

.otherElementOver
  border: 1px solid #FF6666

.task-group-item
  font-weight: bold
  white-space: nowrap

.task-group-item-icon
  margin-left: 3px
  margin-right: 6px

.extra-line-item-icon
  margin-left: 5px
  margin-right: 1px

.icon-delete
  background: transparent url(images/delete.png) no-repeat scroll left center

.icon-add
  background: transparent url(images/add.png) no-repeat scroll left center

.rootItem
  border-bottom: 1px solid black

.monday-line
  background-image: url("../images/planning/monday.png")

.monday-line-big
  background-image: url("../images/planning/monday-big.png")

.monday-line-small
  background-image: url("../images/planning/monday-small.png")

.tuesday-line
  background-image: url("../images/planning/monday.png")
  background-position: -15 0

.tuesday-line-big
  background: url("../images/planning/monday-big.png")
  background-position: -90 0

.tuesday-line-small
  background-image: url("../images/planning/monday-small.png")
  background-position: -5 0

.wednesday-line
  background-image: url("../images/planning/monday.png")
  background-position: -30 0

.wednesday-line-big
  background: url("../images/planning/monday-big.png")
  background-position: -180 0

.wednesday-line-small
  background-image: url("../images/planning/monday-small.png")
  background-position: -10 0

.thursday-line
  background-image: url("../images/planning/monday.png")
  background-position: -45 0

.thursday-line-big
  background: url("../images/planning/monday-big.png")
  background-position: -270 0

.thursday-line-small
  background-image: url("../images/planning/monday-small.png")
  background-position: -15 0

.friday-line
  background-image: url("../images/planning/monday.png")
  background-position: -60 0

.friday-line-big
  background: url("../images/planning/monday-big.png")
  background-position: -360 0

.friday-line-small
  background-image: url("../images/planning/monday-small.png")
  background-position: -20 0

.saturday-line
  background-image: url("../images/planning/monday.png")
  background-position: -75 0

.saturday-line-big
  background: url("../images/planning/monday-big.png")
  background-position: -450 0

.saturday-line-small
  background-image: url("../images/planning/monday-small.png")
  background-position: -25 0

.sunday-line
  background-image: url("../images/planning/monday.png")
  background-position: -90 0

.sunday-line-big
  background: url("../images/planning/monday-big.png")
  background-position: -540 0

.sunday-line-small
  background-image: url("../images/planning/monday-small.png")
  background-position: -30 0

.planning-widget-toolbar
  background-image: none

