/* Loading panel styles */
.loading-panel {
  position: absolute;
  left: 50%;
  top: 40%;
  width: 250px;
  margin-left: -125px;
  padding: 2px;
  z-index: 20001;
  height: auto;
  border: 1px solid #AAA;
}

.loading-img {
  margin: 10px 13px 10px 10px;
  float: left;
  vertical-align: top;
}

.loading-text {
  background: white;
  color: #444;
  font: bold 13px tahoma, arial, helvetica;
  padding: 13px 12px 10px 10px;
  margin: 0;
  height: auto;
}

.loading-msg {
  font: normal 10px arial, tahoma, sans-serif;
}

/** Constraint icons*/
.constraint-icon {
	background-image: url("../images/cog.png")!important;
}

/* Tag icons */
.tag-add-icon {
	background-image: url("../images/tag_add.png")!important;
}

.tag-remove-icon {
	background-image: url("../images/tag_delete.png")!important;
}

.color-icon {
	background-image:url(../images/colorIcon.gif);
}

/* Tag editor */
.x-tag-item {
	position: relative; 
	-moz-border-radius: 6px; 
	-webkit-border-radius: 6px; 
	border-radius: 6px; 
	o-border-radius: 6px; 
	khtml-border-radius: 6px; 
	border: 1px solid #CAD8F3; 
	background-color: #DEE7F8; 
	padding: 1px 15px 1px 5px !important; 
}

.x-tag-item {
	position: relative; 
	-moz-border-radius: 6px; 
	-webkit-border-radius: 6px; 
	border-radius: 6px; 
	o-border-radius: 6px; 
	khtml-border-radius: 6px; 
	background-color: #DEE7F8; 
	padding: 0px 0px 0px 5px !important; 
}

.x-tag-item-label {
  padding : 5px 8px 0px 2px;
}

.x-tag-item-button {
    background:transparent no-repeat right center;
}

/* General CSS */
.row-no-update {
	background-color: #EEE;
	font-style: italic;
}

.hidden { display:none; }
.cell-long-text { white-space: normal; }
.big-text { font-weight: bold; font-size: 16px; }
.flat-button { background-image: none; }