.cell-long-text
  white-space: normal

.newViewIcon
  background-image: url("../images/explorateur/layout_add.png")

.editViewIcon
  background-image: url("../images/explorateur/layout_edit.png")

.refreshIcon
  background-image: url("../images/explorateur/table_refresh.png")

.clearIcon
  background-image: url("../images/explorateur/bin.png")

.explorer-delete-row-icon
  background-image: url("../images/explorateur/delete.png")

.explorer-add-row-icon
  background-image: url("../images/explorateur/add.png")

.explorer-delete-view-icon
  background-image: url("../images/explorateur/layout_delete.png")

.explorer-add-relation-icon
  background-image: url("../images/explorateur/connect.png")

.cercle-check
  width: 16px
  height: 16px
  background-image: url("../images/explorateur/cercle_check.png")
  background-repeat: no-repeat

.cercle-uncheck
  width: 16px
  height: 16px
  background-image: url("../images/explorateur/cercle_uncheck.png")
  background-repeat: no-repeat

.saveIcon
  background-image: url("../images/explorateur/disk.png")

.autoSaveIcon
  background-image: url("../images/explorateur/diskCog.png")

.addAttributeIcon
  background-image: url("../images/explorateur/column_add.png")

.addFolderIcon
  background-image: url("../images/explorateur/folder_add.png")

.editFolderIcon
  background-image: url("../images/explorateur/folder_edit.png")

.delete
  background-image: url("../images/explorateur/delete.png")

.classicDelete
  background-image: url("../images/explorateur/delete.png")

.filter-delete
  background-image: url("../images/explorateur/delete.png")

.filter-add
  background-image: url("../images/explorateur/add.png")

.radioGroupList
  display: inline
  float: left

.radioGroupContainer

.x-form-field-wrap .x-form-ok-trigger
  background-image: url(../images/explorateur/ok-trigger.gif)
  cursor: pointer

.printer
  background-image: url(../images/printer.png)

.page-prev
  background-image: url("../images/explorateur/page-prev.gif")

.page-next
  background-image: url("../images/explorateur/page-next.gif")

.add-user
  background-image: url("../images/explorateur/add_user.gif")

.validation-edit-icon
  background-image: url("../images/explorateur/validation_edit.png")

.note-edit-icon
  background-image: url("../images/explorateur/note_edit.png")

.note-delete-icon
  background-image: url("../images/explorateur/note_delete.png")

.add-approvalNoteType-icon
  background-image: url("../images/explorateur/addApprovalType.png")

.x-grid3-dirty-cell div.x-grid3-cell-inner
  background-image: url(../gxt/images/default/grid/dirty.gif)
  background-repeat: no-repeat

.x-grid3-row td.x-grid3-cell, .x-grid3-summary-row td.x-grid3-cell
  background-image: url(../images/explorateur/border.png)
  background-repeat: repeat-y

.x-grid3-header div.x-grid3-hd-inner
  font-weight: bold

.x-grid3-row
  border-color: #FFFFFF #D0D0D0 #D0D0D0

.pourcent-100
  background-color: #55ff00

.pourcent-90
  background-color: #80ff00

.pourcent-80
  background-color: #aaff00

.pourcent-70
  background-color: #d4ff00

.pourcent-60
  background-color: #ffff00

.pourcent-50
  background-color: #ffd500

.pourcent-40
  background-color: #ffaa00

.pourcent-30
  background-color: #ff8000

.pourcent-20
  background-color: #ff5500

.pourcent-10
  background-color: #ff2a00

.pourcent-0
  background-color: #ff0000

